@charset "utf-8";
@import "../global/_global.scss";

/* --- 고객 센터 (전체) --- */
section {position: relative;
    & article {
        width: 100%;
        position: relative;
        @include flex_box(column, center, center);
        margin: 0 auto;

        &:first-child {
            width: 100%; height: 320px;
            color: $bg1;

            &::before {
                @include pseudo(110%, 110%);
                top: 0; left: 0;
                z-index: 0;
            }
        
            &::after {
                @include pseudo(110%, 400px);
                top: 0; left: 0;
                background: $blur;
                z-index: 0;
            }

            & aside {z-index: 1;}
        }

        &:last-child {
            background: $bg1;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            z-index: 1;
        }

        &>aside {width: 1280px;
            &:first-child {@include padding_setting(0 40px);
                &>h1 {@include section_title();}
                &>b {@include section_bar();}
                &>div {@include section_subtitle();}
            }

            &:last-child {
                @include padding_setting(20px 40px);
            }
        }
    }
}

/* --- 고객 센터 (게시판) --- */
#notice_board {
    & article:first-child::before {
        background: url("/static/img/help_center/bg_help_center_slogan.jpg");
        background-size: cover;
    }

    #notice_board_contents {
        & ol {
            margin-top: 20px;
            animation-delay: 0.3s;
        }

        & table {
            width: 100%;
            font-size: $contents_text_normal;
            @include padding_setting(30px 0 0);

            & thead, & tbody, & tr, & th {
                width: 100%;
                display: inline-block;
            }

            & thead {
                border-bottom: 2px solid $default3;
                animation-delay: 0.4s;

                & tr {@include flex_box(row, center, center);
                    & th {
                        @include padding_setting(10px);
                        white-space: nowrap;
                        
                        &:nth-child(1) {width: 10%;}
                        &:nth-child(2) {width: 70%;}
                        &:nth-child(3) {width: 20%;}
                    }
                }
            }

            & tbody {animation-delay: 0.5s;
                & tr {@include flex_box(row, center, center);
                    & td {
                        text-align: center;
                        border-bottom: 1px solid $default4;
                        @include padding_setting(10px);
                        
                        & a {@include ellipsis(auto, 2);}
                        &:nth-child(1) {width: 10%;}
                        &:nth-child(2) {
                            width: 70%;
                            text-align: left;
                        }
                        &:nth-child(3) {width: 20%;}
                    }
                    &:last-child td {border: none;}
                }
            }

            & tfoot {animation-delay: 0.6s;
                & tr {
                    &:first-child {
                        display: grid;
                        justify-content: flex-end;
                        margin: 20px 0;
                    }

                    &:last-child {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        margin-bottom: 30px;

                        & td {
                            & a {
                                @include padding_setting(5px 10px);
                                border-radius: 25%;
                                transition: all 0.3s;

                                &.on {
                                    color: $bg1;
                                    background: $blue;
                                    font-weight: 700;

                                    &:hover {color: $bg1;}
                                }
                                &:hover {color: $blue;}
                            }
                            
                            &:first-child {margin-right: 10px;}
                            &:last-child {margin-left: 10px;}
                        }
                    }
                }
            }
        }
    }
}

/* --- 고객 센터 (게시판 상세) --- */
#notice_board_detail {
    & article:first-child::before {
        background: url("/static/img/help_center/bg_notice_board_detail.jpg");
        background-size: cover;
        background-position: 0% 50%;
    }

    #notice_board_detail_contents {

        // 게시글 헤더
        #notice_board_detail_header {
            border-bottom: 1px solid $default4;
            @include padding_setting(20px 0);
            animation-delay: 0.2s;

            & h1 {
                font-size: $contents_title_normal;
                margin-bottom: 5px;
            }
            & span {
                color: $blue;
                font-size: $contents_text_normal;
            }
        }

        // 게시글 글
        #notice_board_detail_text {
            font-size: $contents_text_normal;
            border-bottom: 1px solid $default4;
            @include padding_setting(30px 0);
            animation-delay: 0.3s;
    
            & ul {word-break: keep-all;
                & li {margin: 20px 0;
                    &>div {margin: 10px 0;
                        & span {
                            position: relative;
                            display: block;
                            text-indent: 12px;
    
                            &::before {
                                @include pseudo(8px, 8px);
                                left: 0; top: 8px;
                                background: $blue;
                                border-radius: 8px;
                            }

                            & b {
                                &.red {color: $red;}
                            }
                        }
                    }
    
                    & a {
                        color: $blue;
                        font-weight: 600;
                        text-decoration: underline;
                    }
                }
            }
        }
    
        // 게시글 버튼
        #notice_board_detail_list {
            @include flex_box(column, flex-start, center);
            @include padding_setting(0 0 20px);
            animation-delay: 0.4s;

            & li {width: 100%;
                &:first-child {
                    @include flex_box(column, flex-start, flex-start);
                    @include padding_setting(10px 0);
                    font-size: $contents_text_normal;
                    border-bottom: 1px solid $default4;
                    
                    & a {
                        @include flex_box(row, center, center);
                        margin: 5px 0;

                        & img {margin-right: 10px;}
                        & strong {margin: 0 10px;}
                    }
                }

                &:last-child {
                    @include flex_box(row, flex-end, center);
                    @include padding_setting(30px 0);
                    gap: 10px;

                    & a {
                        width: 10%;
                        color: $bg1;
                        font-size: $contents_text_normal;
                    }

                    #notice_board_delete {background: $red;}
                }
            }
        }
    }
}

/* --- 고객 센터 (견적 문의) --- */
#estimate {
    & article {
        &:first-child::before {
            background: url("/static/img/help_center/bg_estimate_slogan.jpg");
            background-size: cover;
        }
    }
}

/* --- 관리자 (글 작성 + 글 수정) --- */
#writing_board, #modify_board {
    & article:first-child::before {
        background: url("/static/img/help_center/bg_notice_board_detail.jpg");
        background-size: cover;
        background-position: 0% 50%;
    }
}

.post_container {
    & form {width: 100%;
        & h1 {
            font-size: $contents_title_normal;
            border-bottom: 1px solid $default4;
            @include padding_setting(20px 0);
            animation-delay: 0.3s;
        }

        & ul {
            @include flex_box(column, flex-start, flex-start);
            font-size: $contents_text_normal;
            @include padding_setting(10px 0);
            animation-delay: 0.4s;

            & label {font-weight: 700;}
            & input, & select {
                width: 100%;
                color: $text;
                background: transparent;
                font-size: $contents_text_normal;
                border-bottom: 2px solid $text;
                @include padding_setting(5px 0);

                &::placeholder {
                    color: $default1;
                    font-weight: 200;
                    transition: all 0.3s;
                }
            }
            & select {padding: 4px 0;}
            & textarea {
                width: 100%;
                font-size: $contents_text_normal;
                border: 2px solid $text;
                border-radius: 10px;
                margin-top: 10px;
                @include padding_setting(15px);

                &::placeholder {
                    color: $default1;
                    font-weight: 200;
                    transition: all 0.3s;
                }
                &:disabled {color: $default1;}
            }
            & span {color: $red;}

            & li {
                width: 100%;
                margin: 10px 0;

                &:first-child {
                    @include flex_box(row, flex-start, flex-start);
                    gap: 10px;

                    & div {
                        &:first-child {width: 70%;}
                        &:last-child {width: 30%;}
                    }
                }

                &:last-child {@include flex_box(column, flex-start, flex-start);}
            }
        }

        &>div {
            width: 100%;
            @include flex_box(row, center, center);
            border-top: 1px solid $default4;
            @include padding_setting(20px 0 10px);
            animation-delay: 0.5s;
        }
    }
}


/* --- 미디어 쿼리 --- */
@media (max-width: 1400px) {
    section article > aside {width: 100%;}
}

@media (max-width: 1280px) {
    // 섹션 텍스트
    section article > aside:first-child > h1 {font-size: $section_title_small;}
    section article > aside:first-child > div {font-size: $section_subtitle_small;}

    // 컨텐츠 타이틀 텍스트
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_header h1,
    .post_container form h1
    {font-size: $contents_title_small;}

    // 컨텐츠 세부 텍스트
    #notice_board #notice_board_contents ol a,
    #notice_board #notice_board_contents ol li,
    #notice_board #notice_board_contents table,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_header span,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_text,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_text ul,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_list li,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_list > div a,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_list li:first-child,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_list li:last-child a,
    .post_container form ul,
    .post_container form ul input,
    .post_container form ul select,
    .post_container form ul textarea
    {font-size: $contents_text_small;} 
    
    // 기타
    #notice_board #notice_board_contents table tbody tr td, 
    #notice_board #update_board_contents table tbody tr td, 
    #update_board #notice_board_contents table tbody tr td, 
    #update_board #update_board_contents table tbody tr td {height: 40px;}

    #notice_board_detail #notice_board_detail_contents #notice_board_detail_list > div a {width: 70px;}
}

@media (max-width: 780px) {
    // 컨텐츠 타이틀 텍스트
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_header h1,
    .post_container form h1
    {font-size: $contents_title_smaller;}

    // 컨텐츠 세부 텍스트
    #notice_board #notice_board_contents ol a, 
    #notice_board #notice_board_contents ol li, 
    #notice_board #notice_board_contents table,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_header span,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_text,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_text ul,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_list li,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_list > div a,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_list li:first-child,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_list li:last-child a,
    .post_container form ul,
    .post_container form ul input,
    .post_container form ul select,
    .post_container form ul textarea
    {font-size: $contents_text_smaller;}

    // 기타
    #notice_board #notice_board_contents table, 
    #notice_board #update_board_contents table, 
    #update_board #notice_board_contents table, 
    #update_board #update_board_contents table {padding: 10px 0 0;}

    #notice_board_detail #notice_board_detail_contents #notice_board_detail_text {padding: 30px 0;}
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_list li:last-child a {width: 60px;}
}

@media (max-width: 480px) {
    // 섹션 텍스트
    section article > aside:first-child > h1 {font-size: $section_title_smaller;}
    section article > aside:first-child > div {font-size: $section_subtitle_smaller;}

    // 컨텐츠 타이틀 텍스트
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_header h1,
    .post_container form h1
    {font-size: $contents_title_smallest;}

    // 컨텐츠 세부 텍스트
    #notice_board #notice_board_contents ol a, 
    #notice_board #notice_board_contents ol li, 
    #notice_board #notice_board_contents table,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_header span,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_text,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_text ul,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_list li,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_list > div a,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_list li:first-child,
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_list li:last-child a,
    .post_container form ul,
    .post_container form ul input,
    .post_container form ul select,
    .post_container form ul textarea
    {font-size: $contents_text_smallest;}

    // 기타
    section article>aside:last-child {padding: 20px;}
    section article > aside:first-child > b {margin: 10px 0;}

    #notice_board #notice_board_contents ol a, 
    #notice_board #update_board_contents ol a, 
    #update_board #notice_board_contents ol a, 
    #update_board #update_board_contents ol a {width: 50%;}
    
    #notice_board #notice_board_contents table tbody tr, 
    #notice_board #update_board_contents table tbody tr, 
    #update_board #notice_board_contents table tbody tr, 
    #update_board #update_board_contents table tbody tr {justify-content: space-between;}

    #notice_board #notice_board_contents table tbody tr td, 
    #notice_board #update_board_contents table tbody tr td, 
    #update_board #notice_board_contents table tbody tr td, 
    #update_board #update_board_contents table tbody tr td {height: 30px;}

    #notice_board_detail #notice_board_detail_list > div a {
        height: 100%;
        padding: 5px;
    }

    #notice_board_detail #notice_board_detail_contents #notice_board_detail_list li:first-child a img {width: 20px;}
    #notice_board_detail #notice_board_detail_contents #notice_board_detail_text ul li>div span::before {top: 4px;}
}