@charset "utf-8";
@import "../global/_global.scss";

/* --- 비밀번호 전체 --- */
section {
    &:before {
        @include pseudo(60%, 110%);
        top: 0; right: 0;
        z-index: -2;
    }

    & article {
        width: 60%; height: 100vh;
        position: relative;
        @include flex_box(column, center, center);
        @include padding_setting(10% 0 5%);
        color: $bg1;
        transition: all 0.3s;

        &:before {
            @include pseudo(120%, 120%);
            top: 0; right: 0;
            background: $text;
            z-index: -1;
            transform: skew(15deg);
            transition: all 0.3s;
        }

        & aside {
            width: 90%;
            @include flex_box(column, flex-start, flex-start);
            @include padding_setting(40px);
            word-break: keep-all;

            &>h1 {@include section_title();}
            &>b {@include section_bar();}
            &>p {@include section_subtitle();
                & br {display: none;}
            }

            & form {
                width: 100%;
                margin-top: 60px;
            }
        }
    }
}

/* --- 비밀번호 찾기 --- */
#password_find {
    &::before {
        background: url(/static/img/bg_password_find.jpg) no-repeat;
        background-size: cover;
    }
    
    & ul {@include flex_box(row, flex-start, center);
        & li {
            width: 100%;
            position: relative;
            margin: 36px 0;

            & label {
                width: 100%;
                display: block;
                position: relative;
                
                &:before {
                    @include input_border();
                    background: $bg1;
                }
                &.input_focus p {
                    @include input_focus();
                    color: $bg1;
                }
                &.input_focus:before {width: 100%;}
    
                & p {
                    @include input_label();
                    color: $bg1;

                    & b {
                        color: $red;
                        margin-right: 3px;
                    }
                }
    
                & input {
                    @include input();
                    color: $bg1;
                    
                    &::placeholder {
                        color: $default1;
                        font-weight: 200;
                        opacity: 0;
                        transition: all 0.3s;
                    }
                    &:focus::placeholder {opacity: 1;}
                }
            }

            & span {
                display: block;
                @include text_setting($red, $contents_text_normal, 400);
                word-break: keep-all;
                margin-top: 5px;
                
                &.error_text {display: none;}
            }
        }
    }

    #SendAuthKey {
        position: absolute; top: 30px; right: 0;
        background: $bg1;
        @include padding_setting(10px 20px);
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            color: $bg1;
            background: $blue;
        }
        &:disabled {
            color: $default4;
            background: $default1;
            cursor: inherit;
        }
    }

    #find_password {
        display: none;
        flex-direction: column;

        & li:last-of-type {@include flex_box(row, flex-end, flex-start);
            &>input {display: none;}
            &>label {
                @include flex_box(row, inherit, center);
                @include text_setting($bg1, $contents_text_normal, 700);
                white-space: nowrap;
                cursor: pointer;
                transition: all 0.3s;
    
                &>i {
                    @include text_setting($text, $contents_text_normal, 700);
                    background: $bg1;
                    border: 3px solid $bg1;
                    border-radius: 50%;
                    padding: 10px;
                    margin-left: 10px;
                    transition: all 0.3s;
                }
            }
        }
    }
}

/* --- 비밀번호 변경 --- */
#password_change {
    &:before {
        background: url(/static/img/bg_password_change.jpg) no-repeat;
        background-size: cover;
    }
    
    & article {
        & aside {
            & form {
                & div {
                    width: 100%;
                    position: relative;
                    margin: 40px 0;
    
                    &:before {
                        @include input_border();
                        background: $bg1;
                    }
                    &.input_focus:before {width: 100%;}
                    &.input_focus label {
                        @include input_focus();
                        color: $bg1;
                    }
    
                    & input:not([type="submit"]) {
                        @include input();
                        color: $bg1;
    
                        &::placeholder {
                            color: $bg1;
                            font-weight: 200;
                            opacity: 0;
                            transition: all 0.3s;
                        }
                        &:focus::placeholder {opacity: 1;}
                    }
    
                    & label {@include input_label();}

                    & span {
                        display: block;
                        @include text_setting($red, 20px, 400);
                        margin-top: 0.5em;
                        
                        &.error_text {display: none;}
                    }

                    &:last-of-type {
                        width: 100%;
                        @include flex_box(row, flex-end, flex-start);
                        
                        &>input {display: none;}
                        &>label {
                            position: absolute;
                            @include flex_box(row, inherit, center);
                            @include text_setting($bg1, 22px, 700);
                            background: transparent;
                            white-space: nowrap;
                            cursor: pointer;
                            z-index: 2000;
                            transition: all 0.3s;

                            &>i {
                                background: $bg1;
                                @include text_setting($text, 22px, 700);
                                border: 3px solid $bg1;
                                border-radius: 50%;
                                padding: 0.5em;
                                margin-left: 0.7em;
                                transition: all 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* --- 미디어 쿼리 --- */
@media (max-width: 1400px) {
    #password_find article,
    #password_change article:last-child {width: 80%;}
}

@media (max-width: 1280px) {
    // 슬로건 텍스트
    #password_find article aside > h1,
    #password_change article:last-child aside > h1 {font-size: $section_title_smaller;}
    #password_find article aside > p,
    #password_change article:last-child aside > p {font-size: $section_subtitle_smaller;}
}

@media (max-width: 780px) {
    // 슬로건 텍스트
    #password_find article aside > h1,
    #password_change article:last-child aside > h1 {font-size: $section_title_smallest;}
    #password_find article aside > p,
    #password_change article:last-child aside > p {font-size: $section_subtitle_smallest;}

    #password_find article {
        width: 100%;
        transform: translate(0);
    }
    #password_find article:before {
        width: 100%;
        border-radius: 0;
        transform: skew(0);
    }
    #password_find article aside {
        width: 80%;
        left: inherit;
        margin: 0;
        padding: 0;
    }
    
    #password_change article:first-child {width: 0;}
    #password_change article:last-child {
        width: 100%;
        transform: translate(0);
    }
    #password_change article:last-child:before {
        width: 100%;
        border-radius: 0;
        transform: skew(0);
    }
    #password_change article:last-child aside {
        width: 80%;
        right: inherit;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 480px) {
    // 섹션 타이틀 텍스트
    #password_find article aside > h1,
    #password_change article:last-child aside > h1 {font-size: $section_title_smallest;}

    // 컨텐츠 타이틀 텍스트
    #password_find article aside > p, 
    #password_change article:last-child aside > p {font-size: $contents_title_smallest;}

    // 컨텐츠 세부 텍스트
    #password_change article aside form div label,
    #password_change article aside form div input:not([type=submit]),
    #password_change article aside form div span,
    #password_change article aside form div:last-of-type > label,
    #password_change article aside form div:last-of-type > label > i,
    #password_find ul li label input,
    #password_find ul li label p,
    #password_find ul li span,
    #password_find #find_password li:last-of-type > label,
    #password_find #find_password li:last-of-type > label > i
    {font-size: $contents_text_smallest;}

    // 기타
    #password_find article aside form #PhoneNumber {width: 80%;}
    #password_find #SendAuthKey {top: 20px;}

    #password_change article:last-child aside form {margin: 0;}

    #password_find ul li label:before,
    #password_change article aside form div:before {top: 29px;}
}