@charset "UTF-8";
/* --- SASS 변수 정리 --- */
/* --- SASS 함수 정리 --- */
/* --- 비밀번호 전체 --- */
section:before {
  width: 60%;
  height: 110%;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}
section article {
  width: 60%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10% 0 5%;
  color: #FFFFFF;
  transition: all 0.3s;
}
section article:before {
  width: 120%;
  height: 120%;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #404040;
  z-index: -1;
  transform: skew(15deg);
  transition: all 0.3s;
}
section article aside {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 40px;
  word-break: keep-all;
}
section article aside > h1 {
  position: relative;
  font-size: 60px;
  word-break: keep-all;
  transition: all 0.3s;
}
section article aside > b {
  width: 100px;
  height: 5px;
  display: block;
  position: relative;
  background: linear-gradient(to right, #329EFF, #7ABEFB);
  border-radius: 5px;
  margin: 10px 0;
  transition: all 0.3s;
  animation-delay: 0.1s;
}
section article aside > p {
  position: relative;
  font-size: 30px;
  font-weight: 300;
  word-break: keep-all;
  transition: all 0.3s;
  animation-delay: 0.2s;
}
section article aside > p br {
  display: none;
}
section article aside form {
  width: 100%;
  margin-top: 60px;
}

/* --- 비밀번호 찾기 --- */
#password_find::before {
  background: url(/static/img/bg_password_find.jpg) no-repeat;
  background-size: cover;
}
#password_find ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#password_find ul li {
  width: 100%;
  position: relative;
  margin: 36px 0;
}
#password_find ul li label {
  width: 100%;
  display: block;
  position: relative;
}
#password_find ul li label:before {
  width: 0;
  height: 2px;
  content: "";
  position: absolute;
  top: 37px;
  left: 0;
  background: #404040;
  transition: all 0.3s;
  background: #FFFFFF;
}
#password_find ul li label.input_focus p {
  top: -20px;
  left: 0;
  color: #404040;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s;
  color: #FFFFFF;
}
#password_find ul li label.input_focus:before {
  width: 100%;
}
#password_find ul li label p {
  position: absolute;
  top: 0;
  font-size: 22px;
  font-weight: 700;
  transition: all 0.3s;
  color: #FFFFFF;
}
#password_find ul li label p b {
  color: #DE3B3B;
  margin-right: 3px;
}
#password_find ul li label input {
  width: 100%;
  color: #404040;
  font-size: 22px;
  font-weight: 700;
  background: transparent;
  border-bottom: 2px solid #C4C4C4;
  padding: 5px 0;
  transition: all 0.3s;
  color: #FFFFFF;
}
#password_find ul li label input::-moz-placeholder {
  color: #C4C4C4;
  font-weight: 200;
  opacity: 0;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#password_find ul li label input::placeholder {
  color: #C4C4C4;
  font-weight: 200;
  opacity: 0;
  transition: all 0.3s;
}
#password_find ul li label input:focus::-moz-placeholder {
  opacity: 1;
}
#password_find ul li label input:focus::placeholder {
  opacity: 1;
}
#password_find ul li span {
  display: block;
  color: #DE3B3B;
  font-size: 22px;
  font-weight: 400;
  word-break: keep-all;
  margin-top: 5px;
}
#password_find ul li span.error_text {
  display: none;
}
#password_find #SendAuthKey {
  position: absolute;
  top: 30px;
  right: 0;
  background: #FFFFFF;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
#password_find #SendAuthKey:hover {
  color: #FFFFFF;
  background: #329EFF;
}
#password_find #SendAuthKey:disabled {
  color: #EDEDED;
  background: #C4C4C4;
  cursor: inherit;
}
#password_find #find_password {
  display: none;
  flex-direction: column;
}
#password_find #find_password li:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
#password_find #find_password li:last-of-type > input {
  display: none;
}
#password_find #find_password li:last-of-type > label {
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  align-items: center;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}
#password_find #find_password li:last-of-type > label > i {
  color: #404040;
  font-size: 22px;
  font-weight: 700;
  background: #FFFFFF;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  transition: all 0.3s;
}

/* --- 비밀번호 변경 --- */
#password_change:before {
  background: url(/static/img/bg_password_change.jpg) no-repeat;
  background-size: cover;
}
#password_change article aside form div {
  width: 100%;
  position: relative;
  margin: 40px 0;
}
#password_change article aside form div:before {
  width: 0;
  height: 2px;
  content: "";
  position: absolute;
  top: 37px;
  left: 0;
  background: #404040;
  transition: all 0.3s;
  background: #FFFFFF;
}
#password_change article aside form div.input_focus:before {
  width: 100%;
}
#password_change article aside form div.input_focus label {
  top: -20px;
  left: 0;
  color: #404040;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s;
  color: #FFFFFF;
}
#password_change article aside form div input:not([type=submit]) {
  width: 100%;
  color: #404040;
  font-size: 22px;
  font-weight: 700;
  background: transparent;
  border-bottom: 2px solid #C4C4C4;
  padding: 5px 0;
  transition: all 0.3s;
  color: #FFFFFF;
}
#password_change article aside form div input:not([type=submit])::-moz-placeholder {
  color: #FFFFFF;
  font-weight: 200;
  opacity: 0;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#password_change article aside form div input:not([type=submit])::placeholder {
  color: #FFFFFF;
  font-weight: 200;
  opacity: 0;
  transition: all 0.3s;
}
#password_change article aside form div input:not([type=submit]):focus::-moz-placeholder {
  opacity: 1;
}
#password_change article aside form div input:not([type=submit]):focus::placeholder {
  opacity: 1;
}
#password_change article aside form div label {
  position: absolute;
  top: 0;
  font-size: 22px;
  font-weight: 700;
  transition: all 0.3s;
}
#password_change article aside form div span {
  display: block;
  color: #DE3B3B;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0.5em;
}
#password_change article aside form div span.error_text {
  display: none;
}
#password_change article aside form div:last-of-type {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
#password_change article aside form div:last-of-type > input {
  display: none;
}
#password_change article aside form div:last-of-type > label {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  align-items: center;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 700;
  background: transparent;
  white-space: nowrap;
  cursor: pointer;
  z-index: 2000;
  transition: all 0.3s;
}
#password_change article aside form div:last-of-type > label > i {
  background: #FFFFFF;
  color: #404040;
  font-size: 22px;
  font-weight: 700;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  padding: 0.5em;
  margin-left: 0.7em;
  transition: all 0.3s;
}

/* --- 미디어 쿼리 --- */
@media (max-width: 1400px) {
  #password_find article,
  #password_change article:last-child {
    width: 80%;
  }
}
@media (max-width: 1280px) {
  #password_find article aside > h1,
  #password_change article:last-child aside > h1 {
    font-size: 36px;
  }
  #password_find article aside > p,
  #password_change article:last-child aside > p {
    font-size: 22px;
  }
}
@media (max-width: 780px) {
  #password_find article aside > h1,
  #password_change article:last-child aside > h1 {
    font-size: 24px;
  }
  #password_find article aside > p,
  #password_change article:last-child aside > p {
    font-size: 20px;
  }
  #password_find article {
    width: 100%;
    transform: translate(0);
  }
  #password_find article:before {
    width: 100%;
    border-radius: 0;
    transform: skew(0);
  }
  #password_find article aside {
    width: 80%;
    left: inherit;
    margin: 0;
    padding: 0;
  }
  #password_change article:first-child {
    width: 0;
  }
  #password_change article:last-child {
    width: 100%;
    transform: translate(0);
  }
  #password_change article:last-child:before {
    width: 100%;
    border-radius: 0;
    transform: skew(0);
  }
  #password_change article:last-child aside {
    width: 80%;
    right: inherit;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 480px) {
  #password_find article aside > h1,
  #password_change article:last-child aside > h1 {
    font-size: 24px;
  }
  #password_find article aside > p,
  #password_change article:last-child aside > p {
    font-size: 20px;
  }
  #password_change article aside form div label,
  #password_change article aside form div input:not([type=submit]),
  #password_change article aside form div span,
  #password_change article aside form div:last-of-type > label,
  #password_change article aside form div:last-of-type > label > i,
  #password_find ul li label input,
  #password_find ul li label p,
  #password_find ul li span,
  #password_find #find_password li:last-of-type > label,
  #password_find #find_password li:last-of-type > label > i {
    font-size: 16px;
  }
  #password_find article aside form #PhoneNumber {
    width: 80%;
  }
  #password_find #SendAuthKey {
    top: 20px;
  }
  #password_change article:last-child aside form {
    margin: 0;
  }
  #password_find ul li label:before,
  #password_change article aside form div:before {
    top: 29px;
  }
}/*# sourceMappingURL=password.css.map */